@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }

   body {
       margin: 0;
       font-family: 'S-CoreDream-3Light';
       line-height: 30px;
   }

   a {
       color: black;
       text-decoration: none;
   }

   h1 {
       font-size: 45px;
       text-align: center;
       border-bottom: 1px solid gray;
       margin: 0;
       padding: 20px;
   }

   ol {
       border-right: 1px solid gray;
       width: 100px;
       margin: 0;
       padding-top: 0;
   }

   #grid {
       display: grid;
       grid-template-columns: 150px 1fr;
   }

   #grid ol {
       padding-left: 33px; 
   }

   #grid #article {
       padding-left: 25px;
   }

   @media(max-width:800px) {
       #grid {
       display: block;
       }
       ol {
       border-right: none;
       }
       h1 {
           border-bottom: none;
       }
   }

   #link {
    color: hotpink;
    text-decoration: none;
    font-weight: bold;
   }

   li {
    margin: 10px;
   }

   h2{
    display: inline-block;
    background: pink;
    margin-bottom: 0;
   }

   h3 {
    margin-top: 20px;
    margin-bottom: 10px;
   }